@model IEnumerable<CmsShoppingCart.Models.ViewModels.Cart.CartVM>

@{
                /**/

                /**/

                /**/

                /**/

                /**/

                ViewBag.Title = "Cart Details";
                int count = 1;
}

<!-- breadcrumb -->
<div class="container">
    <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
        <a href="/" class="stext-109 cl8 hov-cl1 trans-04">
            Home
            <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
        </a>

        <span class="stext-109 cl4">
            Shoping Cart
        </span>
    </div>
</div>

@if (ViewBag.Message != null)
{
    <br />
    <br />
    <div class="container" style="text-align:center;">
        <h3>@ViewBag.Message</h3>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
}
else
{

    <!-- Shoping Cart -->
    <form class="bg0 p-t-75 p-b-85">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
                    <div class="m-l-25 m-r--38 m-lr-0-xl">
                        <div class="wrap-table-shopping-cart">
                            <table class="table-shopping-cart">
                                <tr class="table_head">
                                    <th class="column-1">Product</th>
                                    <th class="column-2"></th>
                                    <th class="column-3">Price</th>
                                    <th class="column-4">Quantity</th>
                                    <th class="column-5">Total</th>
                                    <th> </th>
                                </tr>
                                @foreach (var item in Model)
                                {
                                    <tr class="table_row">
                                        <td class="column-1">
                                            <div class="how-itemcart1">
                                                <img src="/Images/Uploads/Products/@item.ProductId/Thumbs/@item.Image" />
                                            </div>
                                        </td>

                                        <td class="column-2"> @Html.DisplayFor(modelItem => item.ProductName)</td>
                                        <td class="column-3">$@Html.DisplayFor(modelItem => item.Price)</td>
                                        <td class="column-4">
                                            <div class="wrap-num-product flex-w m-l-auto m-r-0">
                                                @*<div class=" btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m" data-id="@item.ProductId">
                                                        <i class="fs-16 zmdi zmdi-minus"></i>
                                                    </div>*@

                                                <a href="#" class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m" data-id="@item.ProductId">
                                                    <i class="fs-16 zmdi zmdi-minus"></i>
                                                </a>

                                                <input class="mtext-104 cl3 txt-center num-product qty@(item.ProductId)" type="number" name="num-product1" value="@Html.DisplayFor(modelItem => item.Quantity)">

                                                @*<div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m" data-id="@item.ProductId">
                                                        <i class="fs-16 zmdi zmdi-plus"></i>
                                                    </div>*@

                                                <a href="#" class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m" data-id="@item.ProductId">
                                                    <i class="fs-16 zmdi zmdi-plus"></i>
                                                </a>

                                            </div>
                                        </td>
                                        <td class="column-5 total@(item.ProductId)">
                                            $@Html.DisplayFor(modelItem => item.Total)
                                        </td>

                                        <td>
                                            <div>
                                                <a href="#" class="removeproduct" data-id="@item.ProductId">Remove</a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>

                    </div>
                </div>

                <div class="col-sm-10 col-lg-7 col-xl-5 m-lr-auto m-b-50">
                    <div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
                        <h4 class="mtext-109 cl2 p-b-30">
                            Cart Totals
                        </h4>


                        <div class="flex-w flex-t p-t-27 p-b-33">
                            <div class="size-208">
                                <span class="mtext-101 cl2">
                                    Total:
                                </span>
                            </div>

                            <div class="size-209 p-t-1 ">
                                <span class="mtext-110 cl2 grandtotal">
                                    $@ViewBag.GrandTotal
                                </span>
                            </div>
                        </div>


                        <button class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">
                            <img src="~/Images/cc.jpg" />
                        </button>
                        <br />
                        <h5 class="mtext-109 cl2 p-b-30" style="text-align:center;">
                            OR
                        </h5>

                        <br />

                        <a href="#" class="placeorder flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">
                            <img src="~/Images/paypal.jpg" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </form>


    <div class="paypaldiv">
        <form class="paypalform" action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
            <input type="hidden" name="cmd" value="_cart">
            <input type="hidden" name="upload" value="1">
            <input type="hidden" name="business" value="ezekiel.whyte-facilitator@yahoo.com">

            @foreach (var item in Model)
            {
                <input type="hidden" name="item_name_@count" value="@item.ProductName">
                <input type="hidden" name="amount_@count" value="@item.Price">
                <input type="hidden" name="quantity_@count" value="@item.Quantity">
                count++;
            }

            <input type="hidden" name="currency_code" value="USD">
            <input type="image" src="http://www.paypal.com/en_US/i/btn/x-click-but01.gif" name="submit" alt="Make payments with PayPal - it's fast, free and secure!">
        </form>
    </div>

}

@section Scripts {
    <script>

        $(function () {

            /*
        * Increment product
        */

            $("a.btn-num-product-up").click(function (e) {
                e.preventDefault();

                var productId = $(this).data("id");
                var url = "/cart/IncrementProduct";

                $.getJSON(url, { productId: productId }, function (data) {

                    $("td.qty" + productId).html(data.qty);

                    var price = data.qty * data.price;
                    var priceHtml = "$" + price.toFixed(2);

                    $("td.total" + productId).html(priceHtml);

                    var gt = parseFloat($("div.grandtotal span").text());
                    var grandtotal = (gt + data.price).toFixed(2);

                    //Auto refresh immediately after click
                    location.reload(true);

                    $("div.grandtotal span").text(grandtotal);
                }).done(function (data) {
                    var url2 = "/cart/PaypalPartial";

                    $.get(url2, {}, function (data) {
                        $('div.paypaldiv').html(data);
                    });
                });
            });

            //////////////////////////////////////////////////////////////
            /*
        * Decrement product
        */

            $("a.btn-num-product-down").click(function (e) {
                e.preventDefault();

                var $this = $(this);
                var productId = $(this).data("id");
                var url = "/cart/DecrementProduct";

                $.getJSON(url, { productId: productId }, function (data) {
                    if (data.qty == 0) {
                        $this.parent().parent().fadeOut("fast", function () {
                            location.reload();
                        });
                    }
                    else {
                        $("td.qty" + productId).html(data.qty);

                        var price = data.qty * data.price;
                        var priceHtml = "$" + price.toFixed(2);

                        $("td.total" + productId).html(priceHtml);

                        var gt = parseFloat($("div.grandtotal span").text());
                        var grandtotal = (gt + data.price).toFixed(2);

                        //Auto Immediately aftr click
                        location.reload(true);

                        $("div.grandtotal span").text(grandtotal);
                    }

                }).done(function (data) {
                    var url2 = "/cart/PaypalPartial";

                    $.get(url2, {}, function (data) {
                        $('div.paypaldiv').html(data);
                    });
                });
            });

            //////////////////////////////////////////////////////////////
            /*
/*
* Remove product
*/

            $("a.removeproduct").click(function (e) {
                e.preventDefault();

                var $this = $(this);
                var productId = $(this).data("id");
                var url = "/cart/RemoveProduct";

                $.get(url, { productId: productId }, function (data) {
                    location.reload();
                });
            });

            //////////////////////////////////////////////////////////////
        });

        /*
* Place order
*/
        $("a.placeorder").click(function (e) {
            e.preventDefault();

            var $this = $(this);

            var url = "/cart/PlaceOrder";

            $(".ajaxbg").show();

            $.post(url, {}, function (data) {
                $(".ajaxbg span").text("Thank you. You will now be redirected to paypal.");
                setTimeout(function () {
                    $('form input[name="submit"]').click();
                }, 1000);
            });
        });

    </script>

}