@model CmsShoppingCart.Models.ViewModels.Shop.ProductVM

@{
    ViewBag.Title = Model.Name;
}

<section class="sec-product-detail bg0 p-t-65 p-b-60">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-7 p-b-30">
                <div class="p-l-25 p-r-30 p-lr-0-lg">
                    <div class="wrap-slick3 flex-sb flex-w">
                        <div class="wrap-slick3-dots"></div>
                        <div class="wrap-slick3-arrows flex-sb-m flex-w"></div>

                        <div class="slick3 gallery-lb">
                            <!--Images at the corners-->

                            @foreach (var image in Model.GalleryImages)
                            {
                                <div class="item-slick3" data-thumb="/Images/Uploads/Products/@Model.Id/Gallery/Thumbs/@image">
                                    <div class="wrap-pic-w pos-relative">
                                        <!--Main image for product-->
                                        <img src="/Images/Uploads/Products/@Model.Id/Gallery/Thumbs/@image" />

                                        <!---expand Image for preview-->
                                        <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="/Images/Uploads/Products/@Model.Id/Gallery/Thumbs/@image">
                                            <i class="fa fa-expand"></i>
                                        </a>
                                    </div>
                                </div>

                            }
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-5 p-b-30">
                <div class="p-r-50 p-t-5 p-lr-0-lg">
                    <h4 class="mtext-105 cl2 js-name-detail p-b-14">
                        @Html.DisplayFor(model => model.Name)
                    </h4>

                    <span class="mtext-106 cl2">
                        $@Html.DisplayFor(model => model.Price)
                    </span>

                    <p class="stext-102 cl3 p-t-23 ">
                        @Html.DisplayFor(model => model.Description)
                    </p>
                    <br />
                    <br />
                    @*@if (Request.IsAuthenticated)
                    {*@


                        <div class="flex-w flex-r-m p-b-10">
                            <div class="size-204 flex-w flex-m respon6-next">

                                <!----add to cart ---->
                                <button class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail">
                                    Add to cart
                                </button>

                            </div>

                        </div>

                    @*}*@
                    @*else
                    {
                            <div class="flex-w flex-r-m p-b-10">

                                <div class="size-204 flex-w flex-m respon6-next">

                                    --add to cart --
                                    <button class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 " id="buttonid">
                                        Add to cart
                                    </button>

                                </div>

                            </div>
                    }*@
                    <!-- Social media links -->
                    <div class="flex-w flex-m p-l-100 p-t-40 respon7">
                        <div class="flex-m bor9 p-r-10 m-r-11">
                            <a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 js-addwish-detail tooltip100" data-tooltip="Add to Wishlist">
                                <i class="zmdi zmdi-favorite"></i>
                            </a>
                        </div>

                        <a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Facebook">
                            <i class="fa fa-facebook"></i>
                        </a>

                        <a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Twitter">
                            <i class="fa fa-twitter"></i>
                        </a>

                        <a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Google Plus">
                            <i class="fa fa-google-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>

@section Scripts {

    <script>

    $('.js-addcart-detail').each(function(){
        var nameProduct = $(this).parent().parent().parent().parent().find('.js-name-detail').html();
        var url = "/cart/AddToCartPartial";
        $.get(url, { id: @Model.Id }, function (data) {
            $(".ajaxcart").html(data);
        }).done(
			$(this).on('click', function(){
                swal(nameProduct, "is added to cart !", "success");
                //location.reload(true);
                //Auto refresh after 2 secs
                setTimeout("location.reload(true);", 2000);
            }));
	});

    </script>

    <script type="text/javascript">
        $('#buttonid').click(function () {
            document.location = '@Url.Action("Login","Account")';
        });
    </script>

}

@*<script>
        $("a.addtocart").click(function (e) {
            e.preventDefault();

            $("span.loader").addClass("ib");

            var url = "/cart/AddToCartPartial";

            $.get(url, { id: @Model.Id }, function (data) {
                $(".ajaxcart").html(data);
            }).done(function () {
                $("span.loader").removeClass("ib");
                $("span.ajaxmsg").addClass("ib");
                setTimeout(function () {
                    $("span.ajaxmsg").fadeOut("fast");
                    $("span.ajaxmsg").removeClass("ib");
                }, 1000);
            });
        });
    </script>*@

